{% extends 'base.html' %} {% block content %}
<div class="main-box">
    {% include 'nav.html' %}
    <div class="content">
        <div class="content__left-box">


            {% for front in front_persons %}
            <div class="content__card-left">
                <h2 class="heading heading--event">{{front.name}}</h2>
                <p class="paragraph paragraph--event-details"> {{front.sub_title}}</p>
                <img src="./images/event.jpeg" alt="" class="content__img-event">
                <p class="paragraph paragraph--description">{{front.description}} </p>
            </div>
            {% endfor %}

        </div>

        <div class="content__right-box">
            <h2 class="heading heading--event">Recent events</h2>
            {% for event in events %}
            <div class="content__card-right">
                <a style="text-decoration: none;color:black;" href="">

                    <h2 class="heading heading--event">{{event.title}} </h2>
                    <img src="{{event.image.url}}" alt="{{event.image}}" class="content__img-event">
                    <p class="paragraph paragraph--description"> {{event.description}}
                    </p>
                </a>

            </div>

            {% endfor %}


        </div>



    </div>
</div>
{% endblock %}