<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingwaram Samaj</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">

</head>

<body>
    <div class="main-box">
        <header class="header">
            <div class="header__logo">
                <img src="../images/logo.jpg" alt="" class="header__logo-img">
                <img src="../images/name.png" alt="" class="header__name-img">
            </div>

            <ul class="header__nav">
                <li class="header__item"> <a href="../index.htm" class="header__link header__link-active">Home</a> </li>
                <li class="header__item"> <a href="./about.htm" class="header__link">About</a> </li>
                <li class="header__item"> <a href="./gallery.html" class="header__link">Gallery</a> </li>
                <li class="header__item"> <a href="" class="header__link">Role</a> </li>
                <li class="header__item"> <a href="" class="header__link">Generalogy</a> </li>
                <li class="header__item"> <a href="" class="header__link">Generalogy Signs</a> </li>
                <li class="header__item"> <a href="./contact.htm" class="header__link">Contact us</a> </li>
            </ul>
        </header>
        <div class="content">
            <div class="content__left-box">
                <div class="content__card-left">
                    <h2 class="heading heading--event">About us</h2>
                    <p class="paragraph paragraph--event-details"> "Connect us with you."</p>
                    <img src="./images/image.jpg" alt="" class="content__img-event">
                    <p class="paragraph paragraph--description">SSC MTS Answer key 2021 Paper Solution PDF download will be discussed here. The SSC MTS exam from 05th October to 20th October 2021 is now over, so you can download the SSC MTS answer key 2021 and exam analysis and reasonable attempts.
                        The Staff Service Commission has released the SSC MTS Answer Key, which </p>
                    <button class="button button--read-more button--back-color-blue">Read More</button>
                </div>

                <!-- next card -->
                <div class="content__card-left">
                    <h2 class="heading heading--event">Person collected Generalogy</h2>
                    <p class="paragraph paragraph--event-details"> Main person: Singha Bahadur Ingwaram</span>
                    </p>
                    <img src="./images/image.jpg" alt="" class="content__img-event">

                    <button class="button button--read-more button--back-color-blue">Read More</button>
                </div>

                <div class="content__card-left">
                    <h2 class="heading heading--event">Words from Krishna Raj Ingwaram</h2>
                    <p class="paragraph paragraph--event-details">Head, Ingwaram Samaj</p>
                    <img src="./images/event.jpeg" alt="" class="content__img-event">
                    <p class="paragraph paragraph--description">SSC MTS Answer key 2021 Paper Solution PDF download will be discussed here. The SSC MTS exam from 05th October to 20th October 2021 is now over, so you can download the SSC MTS answer key 2021 and exam analysis and reasonable attempts.
                        The Staff Service Commission has released the SSC MTS Answer Key, which </p>
                    <button class="button button--read-more button--back-color-blue">Read More</button>
                </div>

                <div class="content__card-left">
                    <h2 class="heading heading--event">Our book writer programme</h2>
                    <p class="paragraph paragraph--event-details"> <span>November 2020</span> <span>By Binod Shrestha</span></p>
                    <img src="./images/event.jpeg" alt="" class="content__img-event">
                    <p class="paragraph paragraph--description">SSC MTS Answer key 2021 Paper Solution PDF download will be discussed here. The SSC MTS exam from 05th October to 20th October 2021 is now over, so you can download the SSC MTS answer key 2021 and exam analysis and reasonable attempts.
                        The Staff Service Commission has released the SSC MTS Answer Key, which </p>
                    <button class="button button--read-more button--back-color-blue">Read More</button>
                </div>

            </div>

            <div class="content__right-box">
                <div class="content__card-right">
                    <h2 class="heading heading--event">Our book writer </h2>
                    <img src="./images/image.jpg" alt="" class="content__img-event">
                    <p class="paragraph paragraph--description"> The SSC MTS exam from 05th October to 20th October 2021 is now over, so you can download the SSC MTS answer key 2021 and exam analysis and reasonable attempts. The Staff Service Commission has released the SSC MTS Answer Key, which
                    </p>
                </div>

                <div class="content__card-right">
                    <h2 class="heading heading--event">Our book writer </h2>
                    <img src="./images/image.jpg" alt="" class="content__img-event">
                    <p class="paragraph paragraph--description"> The SSC MTS exam from 05th October to 20th October 2021 is now over, so you can download the SSC MTS answer key 2021 and exam analysis and reasonable attempts. The Staff Service Commission has released the SSC MTS Answer Key, which
                    </p>
                </div>


            </div>



        </div>
    </div>
</body>

</html>