@import "../abstracts/variable";
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    font-family: 'Nutino Sans', serif;
    line-height: 1.6;
    background-color: $grey-light-3;
    font-size: 1.2rem;
}